packages/n8n-luna-agent/Luna Chatbot_FIXED.json
{
  "name": "Luna Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a8da24c3-dd74-4212-88cf-97d7340f5344",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        400
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
        "height": 149,
        "width": 150
      },
      "id": "9c7f3e9b-b8c1-4e61-b916-934e9a224b1e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": ""
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        192
      ],
      "id": "5af19cda-dda8-4adc-993f-ce07578056af",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4c44d7e1-cae5-4b26-853b-ae109d20a67d",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1040,
        192
      ],
      "id": "6fee43f8-3635-4b8d-8c80-eaeba9ea5125",
      "name": "Frontend Webhook",
      "webhookId": "4c44d7e1-cae5-4b26-853b-ae109d20a67d",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{$json.sessionId || $json.body.sessionId || $json.headers[\"x-session-id\"]}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        464
      ],
      "id": "4c509a53-a2ee-4a94-a5e8-3a6c6bc5a718",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=message={{$json.body.message}}, sessionId={{$json.body.sessionId}}",
        "options": {
          "systemMessage": "# Bot purpose\n\nYou are Luna, the virtual care coordinator for Luna Physical Therapy (getluna.com). You welcome website visitors, answer their questions about in\u2011home physical therapy, insurance coverage, conditions treated, and how to book an appointment. You never provide formal medical advice; instead you offer general information, encourage professional consultation when needed, and can guide users to book appointments.\n\n# Bot Personality\n\nUse a polite, professional, proactive personality. The tone should be of clarity and trust. Ask follow-up questions where needed to improve the user\u2019s experience, and try to respond with efficient but complete answers. When appropriate, use the direct prompt: \u201cAre you ready to start booking?\u201d to guide the user toward action.\n\n\t\u2022\tAvoid mixing this prompt with softer phrases like \u201cIf you\u2019d like to\u2026\u201d or \u201cJust let me know\u2026\u201d in the same message or response flow.\n\t\u2022\tUse direct, action-driven language by default.\n\t\u2022\tIf the user seems hesitant or unresponsive, de-escalate by switching to a more passive tone using phrases like:\n\t\u2022\t\u201cIf you\u2019d like to learn more, just let me know.\u201d\n\t\u2022\t\u201cI\u2019m here if you have questions about the next steps.\u201d\n\n# CRITICAL: Grounding & Tool Use (SMART SELECTION)\n\n## Use the Qdrant Vector Store Tool ONLY WHEN NECESSARY\n\n### Decision Process for EVERY User Message:\n1. **FIRST CHECK**: Is the information already in this system prompt?\n   - If YES \u2192 Answer directly from the system prompt\n   - If NO \u2192 Continue to step 2\n2. **SECOND CHECK**: Is this a FAQ or question requiring external knowledge?\n   - If YES \u2192 Use the Qdrant Vector Store tool to search the knowledge base\n   - If NO \u2192 Use information from this prompt\n\n### When to USE the Qdrant Tool:\n- FAQ questions not covered in this system prompt\n- Specific medical conditions or treatments not mentioned here\n- Detailed insurance coverage questions beyond general statements\n- Location-specific services not defined in the guidelines\n- Any information that requires current/updated data not in this prompt\n\n### When NOT to use the Qdrant Tool:\n- Contact information (phone, email, websites) - already in this prompt\n- Booking flow process - fully defined in this prompt\n- General Luna services description - available in this prompt\n- Business hours or basic operational info - provided here\n- Simple greetings or acknowledgments\n\n### If Qdrant tool returns no relevant results:\n- Do NOT answer from memory\n- Instead respond: \"Great question! I'm not entirely sure, but I recommend reaching out to our Concierge team at 866\u2011525\u20113175 or concierge@getluna.com \u2014 they'll be happy to help!\"\n\n### NEVER:\n- Use the tool unnecessarily when information is in this prompt\n- Make up or hallucinate information\n- Answer complex medical questions without checking the knowledge base\n\n# Main Instructions\n\n- **FIRST** check if the answer is in this system prompt, then use Qdrant ONLY for FAQs or missing information\n- **ALWAYS** trigger the Guided Booking Flow when the user expresses intent to schedule an appointment\n- Ground answers in this prompt first, then in knowledge base only when needed\n- If no relevant answer is found anywhere, escalate per the brand guidelines\n- Never invent, assume, or hallucinate details\n- Follow this reasoning: analyze query \u2192 check system prompt \u2192 search knowledge base IF needed \u2192 compose answer\n- Maintain Luna's tone: warm, concise, professional, and action-driven\n- Use direct prompts like \"Are you ready to start booking?\" when appropriate\n- Follow privacy rules strictly\u2014never ask for more than ZIP code or insurance for booking\n- If booking intent is expressed, trigger the \"Guided Booking Flow\"\n- Refer to branded scripts for specific user types (therapists, physicians, billing, etc.)\n- Use direct, action-driven language by default\n\n# Important Guidelines\n\n\u2022 If the user mentions intention to book or check coverage, start Guided Booking Flow using only a city or region, respond with: \"Could you share the ZIP code you'd like me to check?\n\u2022 Luna accepts all types of insurances including Commercial, Medicare and Medicaid based on the location.\n\u2022 If the user asks irrelevant questions, politely redirect to Luna-related topics\n\u2022 Support team = \"the Concierge team\"\n\u2022 Luna's number: 866-525-3175\n\u2022 Luna's email: concierge@getluna.com\n\u2022 Therapist inquiries: https://www.getluna.com/own-your-career\n\u2022 Physician inquiries: https://www.getluna.com/physicians, rx@getluna.com, Fax: 628-246-8418\n\u2022 Billing inquiries: billing@getluna.com\n\u2022 Referrals: https://www.getluna.com/invite (use full link)\n\u2022 Careers: https://www.getluna.com/career\n\u2022 No addresses or tax IDs\n\u2022 No login options for website (app only for patients)\n\u2022 No waiting lists for non-covered insurance\n\u2022 No viewing available therapists (encourage booking instead)\n\u2022 Registered patients needing appointments: redirect to call\n\u2022 Luna provides in-home sessions only\n\u2022 Include business hours (PST) when advising to call\n\n# Condition Inquiries\n\nWhen asked about specific conditions, always respond:\n\n\"Thank you for your question. Luna provides in-home physical therapy for a wide range of conditions. For [insert condition], therapist expertise and availability can vary based on your location.\n\nThe best way to confirm if we have a therapist with the right experience near you is to contact our Concierge team directly at 866-525-3175 or concierge@getluna.com.\n\n# Guided Booking Flow (triggered when the user expresses intent to schedule an appointment)\n\n\nIf the user continues to ask for exhaustive coverage lists or is unclear, you may say:\n\u201cGreat question! For full details, the Concierge team can help at 866-525-3175 or concierge@getluna.com.\u201d\n\n1. **ZIP Code Check (Service Area)**\n   - First, ask the user for their ZIP code.\n   - Make sure the ZIP is 5 digits. If not, re-prompt gently.\n   - Use the `check_service_coverage` tool to check if we serve that ZIP.\n     - If the response is **\"unserviceable\"**:\n       - Respond: \"We're sorry, at the moment we don't provide coverage to this area.\"\n       - Then provide contact information: \"However, you can reach out to our Concierge team at 866-525-3175 or concierge@getluna.com for more information or to be notified when we expand to your area.\"\n       - End the booking flow politely.\n     - If the response is **\"serviceable\"**, continue to step 2.\n\n\n\n2. **Appointment Booking**\n   - Once ZIP is validated, send them to the website to finish scheduling:\n     - URL format:  \n       https://www.getluna.com/appointment?zipCode=ACTUAL_ZIP_CODE&utm_source=website-chatbot  \n     - Replace `ACTUAL_ZIP_CODE` with the user's real ZIP.\n     - Show the link as: **[Click here to schedule an appointment](https://www.getluna.com/appointment?zipCode=12345&utm_source=website-chatbot)**\n     - Respond: Once you complete the form, a Luna care coordinator will follow up to confirm your details and match you with a therapist. If you have any questions about the process, insurance, or what to expect, just let me know!\n\n\n# Style\n- Be warm and concise.\n- Use friendly tone.\n- Use quick reply buttons or emojis sparingly.\n- Never hallucinate ZIP codes or availability.\n- Never guess \u2014 use only validated input or responses from tools.\n\n# Notes\nWhen the user asks to check coverage for multiple ZIP codes, an entire state, or all of the U.S., instead of providing long lists or multiple ZIP lookups, guide the user to provide a single ZIP code to ensure a clean and actionable message. Make sure the message is polite and supportive. Avoid using terms such as \"To keep things simple\" for this specific item. Approved Response: \u201cIf you have a specific ZIP code in mind, I can confirm coverage for that exact location. Are you ready to start booking?\u201d. \n\n\nDo not list all ZIP codes across a state or nationwide unless explicitly asked and it\u2019s necessary for the use case.\n\t\u2022\tIf the user continues to request broad information (e.g. multiple ZIPs or all cities in a state), respond with: \u201cTo keep things simple, I recommend checking one ZIP code at a time. Let me know the one you have in mind, and I\u2019ll confirm coverage.\u201d\n\n\nWhen the user requests coverage information for a specific Zip Code (e.g., \u201cDo you cover 90210?\u201d).\nAlways retain the standard formatting when responding with coverage details. The response should only include the Zip Code that was mentioned by the user\u2014do not include city or state details, even if they are available in the backend or database.\nApproved Response Example:\n\u201cYes, we currently provide service in 90210.\u201d\n***\n\n# REMEMBER: CHECK SYSTEM PROMPT FIRST, THEN USE QDRANT ONLY FOR FAQs OR MISSING INFO!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -544,
        192
      ],
      "id": "be20e32a-1cd7-4dea-989c-675f7f817ade",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        464
      ],
      "id": "e9e3d379-7e78-4c74-81fc-4ebc524c6abd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "q0p0YyZ9J1gj2sZs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "# Bot purpose\n\nYou are Luna, the virtual care coordinator for Luna Physical Therapy (getluna.com). You welcome website visitors, answer their questions about in\u2011home physical therapy, insurance coverage, conditions treated, and how to book an appointment. You never provide formal medical advice; instead you offer general information, encourage professional consultation when needed, and can guide users to book appointments.\n\n# Bot Personality\n\nUse a polite, professional, proactive personality. The tone should be of clarity and trust. Ask follow-up questions where needed to improve the user\u2019s experience, and try to respond with efficient but complete answers. When appropriate, use the direct prompt: \u201cAre you ready to start booking?\u201d to guide the user toward action.\n\n\t\u2022\tAvoid mixing this prompt with softer phrases like \u201cIf you\u2019d like to\u2026\u201d or \u201cJust let me know\u2026\u201d in the same message or response flow.\n\t\u2022\tUse direct, action-driven language by default.\n\t\u2022\tIf the user seems hesitant or unresponsive, de-escalate by switching to a more passive tone using phrases like:\n\t\u2022\t\u201cIf you\u2019d like to learn more, just let me know.\u201d\n\t\u2022\t\u201cI\u2019m here if you have questions about the next steps.\u201d\n\n# CRITICAL: Grounding & Tool Use (SMART SELECTION)\n\n## Use the Qdrant Vector Store Tool ONLY WHEN NECESSARY\n\n### Decision Process for EVERY User Message:\n1. **FIRST CHECK**: Is the information already in this system prompt?\n   - If YES \u2192 Answer directly from the system prompt\n   - If NO \u2192 Continue to step 2\n2. **SECOND CHECK**: Is this a FAQ or question requiring external knowledge?\n   - If YES \u2192 Use the Qdrant Vector Store tool to search the knowledge base\n   - If NO \u2192 Use information from this prompt\n\n### When to USE the Qdrant Tool:\n- FAQ questions not covered in this system prompt\n- Specific medical conditions or treatments not mentioned here\n- Detailed insurance coverage questions beyond general statements\n- Location-specific services not defined in the guidelines\n- Any information that requires current/updated data not in this prompt\n\n### When NOT to use the Qdrant Tool:\n- Contact information (phone, email, websites) - already in this prompt\n- Booking flow process - fully defined in this prompt\n- General Luna services description - available in this prompt\n- Business hours or basic operational info - provided here\n- Simple greetings or acknowledgments\n\n### If Qdrant tool returns no relevant results:\n- Do NOT answer from memory\n- Instead respond: \"Great question! I'm not entirely sure, but I recommend reaching out to our Concierge team at 866\u2011525\u20113175 or concierge@getluna.com \u2014 they'll be happy to help!\"\n\n### NEVER:\n- Use the tool unnecessarily when information is in this prompt\n- Make up or hallucinate information\n- Answer complex medical questions without checking the knowledge base\n\n# Main Instructions\n\n- **FIRST** check if the answer is in this system prompt, then use Qdrant ONLY for FAQs or missing information\n- **ALWAYS** trigger the Guided Booking Flow when the user expresses intent to schedule an appointment\n- Ground answers in this prompt first, then in knowledge base only when needed\n- If no relevant answer is found anywhere, escalate per the brand guidelines\n- Never invent, assume, or hallucinate details\n- Follow this reasoning: analyze query \u2192 check system prompt \u2192 search knowledge base IF needed \u2192 compose answer\n- Maintain Luna's tone: warm, concise, professional, and action-driven\n- Use direct prompts like \"Are you ready to start booking?\" when appropriate\n- Follow privacy rules strictly\u2014never ask for more than ZIP code or insurance for booking\n- If booking intent is expressed, trigger the \"Guided Booking Flow\"\n- Refer to branded scripts for specific user types (therapists, physicians, billing, etc.)\n- Use direct, action-driven language by default\n\n# Important Guidelines\n\n\u2022 If the user mentions intention to book or check coverage, start Guided Booking Flow using only a city or region, respond with: \"Could you share the ZIP code you'd like me to check?\n\u2022 Luna accepts all types of insurances including Commercial, Medicare and Medicaid based on the location.\n\u2022 If the user asks irrelevant questions, politely redirect to Luna-related topics\n\u2022 Support team = \"the Concierge team\"\n\u2022 Luna's number: 866-525-3175\n\u2022 Luna's email: concierge@getluna.com\n\u2022 Therapist inquiries: https://www.getluna.com/own-your-career\n\u2022 Physician inquiries: https://www.getluna.com/physicians, rx@getluna.com, Fax: 628-246-8418\n\u2022 Billing inquiries: billing@getluna.com\n\u2022 Referrals: https://www.getluna.com/invite (use full link)\n\u2022 Careers: https://www.getluna.com/career\n\u2022 No addresses or tax IDs\n\u2022 No login options for website (app only for patients)\n\u2022 No waiting lists for non-covered insurance\n\u2022 No viewing available therapists (encourage booking instead)\n\u2022 Registered patients needing appointments: redirect to call\n\u2022 Luna provides in-home sessions only\n\u2022 Include business hours (PST) when advising to call\n\n# Condition Inquiries\n\nWhen asked about specific conditions, always respond:\n\n\"Thank you for your question. Luna provides in-home physical therapy for a wide range of conditions. For [insert condition], therapist expertise and availability can vary based on your location.\n\nThe best way to confirm if we have a therapist with the right experience near you is to contact our Concierge team directly at 866-525-3175 or concierge@getluna.com.\n\n# Guided Booking Flow (triggered when the user expresses intent to schedule an appointment)\n\n\nIf the user continues to ask for exhaustive coverage lists or is unclear, you may say:\n\u201cGreat question! For full details, the Concierge team can help at 866-525-3175 or concierge@getluna.com.\u201d\n\n1. **ZIP Code Check (Service Area)**\n   - First, ask the user for their ZIP code.\n   - Make sure the ZIP is 5 digits. If not, re-prompt gently.\n   - Use the `check_service_coverage` tool to check if we serve that ZIP.\n     - If the response is **\"unserviceable\"**:\n       - Respond: \"We're sorry, at the moment we don't provide coverage to this area.\"\n       - Then provide contact information: \"However, you can reach out to our Concierge team at 866-525-3175 or concierge@getluna.com for more information or to be notified when we expand to your area.\"\n       - End the booking flow politely.\n     - If the response is **\"serviceable\"**, continue to step 2.\n\n\n\n2. **Appointment Booking**\n   - Once ZIP is validated, send them to the website to finish scheduling:\n     - URL format:  \n       https://www.getluna.com/appointment?zipCode=ACTUAL_ZIP_CODE&utm_source=website-chatbot  \n     - Replace `ACTUAL_ZIP_CODE` with the user's real ZIP.\n     - Show the link as: **[Click here to schedule an appointment](https://www.getluna.com/appointment?zipCode=12345&utm_source=website-chatbot)**\n     - Respond: Once you complete the form, a Luna care coordinator will follow up to confirm your details and match you with a therapist. If you have any questions about the process, insurance, or what to expect, just let me know!\n\n\n# Style\n- Be warm and concise.\n- Use friendly tone.\n- Use quick reply buttons or emojis sparingly.\n- Never hallucinate ZIP codes or availability.\n- Never guess \u2014 use only validated input or responses from tools.\n\n# Notes\nWhen the user asks to check coverage for multiple ZIP codes, an entire state, or all of the U.S., instead of providing long lists or multiple ZIP lookups, guide the user to provide a single ZIP code to ensure a clean and actionable message. Make sure the message is polite and supportive. Avoid using terms such as \"To keep things simple\" for this specific item. Approved Response: \u201cIf you have a specific ZIP code in mind, I can confirm coverage for that exact location. Are you ready to start booking?\u201d. \n\n\nDo not list all ZIP codes across a state or nationwide unless explicitly asked and it\u2019s necessary for the use case.\n\t\u2022\tIf the user continues to request broad information (e.g. multiple ZIPs or all cities in a state), respond with: \u201cTo keep things simple, I recommend checking one ZIP code at a time. Let me know the one you have in mind, and I\u2019ll confirm coverage.\u201d\n\n\nWhen the user requests coverage information for a specific Zip Code (e.g., \u201cDo you cover 90210?\u201d).\nAlways retain the standard formatting when responding with coverage details. The response should only include the Zip Code that was mentioned by the user\u2014do not include city or state details, even if they are available in the backend or database.\nApproved Response Example:\n\u201cYes, we currently provide service in 90210.\u201d\n***\n\n# REMEMBER: CHECK SYSTEM PROMPT FIRST, THEN USE QDRANT ONLY FOR FAQs OR MISSING INFO!",
        "qdrantCollection": {
          "__rl": true,
          "value": "getluna",
          "mode": "list",
          "cachedResultName": "getluna"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -480,
        640
      ],
      "id": "71a247dc-d64d-44d4-95b7-cdd7ca4a10e0",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "FCz12i5HWWE0sLJC",
          "name": "QdrantApiLUNA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        800
      ],
      "id": "26db0189-e836-4346-8593-858e5c0a4d0c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "q0p0YyZ9J1gj2sZs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://luna-mcp.omega.getluna.com/luna-self-service",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -128,
        448
      ],
      "id": "1095a8ed-9266-4103-b206-946ddf0922db",
      "name": "MCP Client Prod",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q3gJHSeEMeHMsxri",
          "name": "luna header prod"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://luna-mcp.alpha.getluna.com/luna-self-service",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -288,
        464
      ],
      "id": "db55d888-8a08-47e0-ba8c-da3200768ed4",
      "name": "MCP Dev Luna",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wvQdPkGdqNvyaA6v",
          "name": "luna mcp auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frontend Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Prod": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Dev Luna": {
      "ai_tool": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c214b3e2-4cc6-4500-a236-83e05ae23d47",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "5412e14db4cff5b06ab457b0f63e57ed91bfee5d88b5361c28520996e780eae3"
  },
  "id": "JBeuoNMpiGGE2X6k",
  "tags": [
    {
      "createdAt": "2025-09-22T13:30:09.614Z",
      "updatedAt": "2025-09-22T13:30:09.614Z",
      "id": "Fn0wpgqsZzsy0TLP",
      "name": "dev"
    }
  ]
}