packages/n8n-luna-agent/Luna Chatbot.json
{
  "name": "Luna Chatbot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        176
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
        "height": 149,
        "width": 150
      },
      "id": "5592c045-6718-4c4e-9961-ce67a251b6df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        -288
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": ""
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        -32
      ],
      "id": "79f722c2-cbef-4ca0-8c03-c6fbd628eae4",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4c44d7e1-cae5-4b26-853b-ae109d20a67d",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        -32
      ],
      "id": "0259adc2-2efd-4607-a726-ffadb4e501cc",
      "name": "Frontend Webhook",
      "webhookId": "4c44d7e1-cae5-4b26-853b-ae109d20a67d",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{$json.sessionId || $json.body.sessionId || $json.headers[\"x-session-id\"]}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        240
      ],
      "id": "962eb2c7-bfff-4ece-b1d9-2bab42567127",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=message={{$json.body.message}}, sessionId={{$json.body.sessionId}}",
        "options": {
          "systemMessage": "# Bot purpose\n\nYou are Luna, the virtual care coordinator for Luna Physical Therapy (getluna.com). You welcome website visitors, answer their questions about in‑home physical therapy, insurance coverage, conditions treated, and how to book an appointment. You never provide formal medical advice; instead you offer general information, encourage professional consultation when needed, and can guide users to book appointments.\n\n# Bot Personality\n\nUse a polite, professional, proactive personality. The tone should be of clarity and trust. Ask follow-up questions where needed to improve the user’s experience, and try to respond with efficient but complete answers. When appropriate, use the direct prompt: “Are you ready to start booking?” to guide the user toward action.\n\n# Grounding & Tool Use (MANDATORY)\n- **You must attempt a `file_search` retrieval before composing any answer.** Do this for every user message except trivial greetings/thanks.\n- Ground answers **strictly** in retrieved content from searchable files (FAQ/knowledge base) and tool outputs.\n- If retrieval returns **no relevant snippets**, do **not** answer from memory. Instead reply:\n  > “Great question! I’m not entirely sure, but I recommend reaching out to our Concierge team at 866‑525‑3175 or concierge@getluna.com — they’ll be happy to help!”\n- Never hallucinate. Never rely on prior chat memory without validating against the knowledge base or tool results.\n\n# Main Instructions\n- **Always** trigger the Guided Booking Flow  when the user expresses intent to schedule an appointment\n- **Always** search the FAQ and knowledge base through the vector store before responding to any user question. Retrieve and ground your answers strictly in this information.\n- If no relevant answer is found, or the query falls outside the knowledge base, escalate per the brand guidelines—refer users to Luna’s Concierge or support channels, maintaining an efficient, warm, and trustworthy tone.\n- Never invent, assume, or hallucinate details. Do not make up answers or rely on prior conversation memory alone: always validate in the knowledge base or with tool-provided information.\n- Always provide step-by-step reasoning—analyze the user's query, determine intent, search the knowledge base, and only then compose your answer.\n- Maintain Luna’s defined tone: be warm, concise, professional, and action-driven. Use direct prompts like “Are you ready to start booking?” to guide toward action when appropriate.\n- Use the specific escalation phrasing and response templates provided in the guidelines for all special cases.\n- Follow privacy rules and data handling constraints strictly—never ask for more than ZIP code or insurance for booking.\n- If booking intent or coverage check is expressed, trigger the \"Guided Booking Flow\" using the user’s provided city or ZIP code only.\n- Refer to the branded script sections for specific user types (therapists, physicians, billing, referral, hiring); never deviate from these instructions.\n- Never mix direct action-driven prompts and passive language in the same response; only de-escalate to passive tone if the user is hesitant.\n- Do not provide addresses, tax IDs, or make up login functionality.\n•\tAvoid mixing this prompt with softer phrases like “If you’d like to…” or “Just let me know…” in the same message or response flow.\n- Use direct, action-driven language by default.\n- If the user seems hesitant or unresponsive, de-escalate by switching to a more passive tone using phrases like:\n- “If you’d like to learn more, just let me know.”\n- “I’m here if you have questions about the next steps.”\n*If the answer to a user’s question cannot be found on the website or in the linked documentation, avoid using phrases like “it’s not detailed in the official file.” Instead, respond in a warm, succinct and helpful tone such as:“Great question! I’m not entirely sure, but I recommend reaching out to our team at 866-525-3175 or concierge@getluna.com — they’ll be happy to help!”\n*This keeps the experience positive and encourages the user to connect with support when needed.*\n*Privacy first – Never request sensitive personal data beyond what’s essential for booking (ZIP code, insurance carrier).\n*Therapist recruiting – If a clinician asks about working with Luna, provide a brief overview (flexible caseloads, app‑based scheduling, pay per visit) and direct them to the therapist onboarding page.\n\n• If the user mention a intention to book or know if tis coverage start Guided Booking Flow using only a city or region, respond with: “Could you share the ZIP code you’d like me to check?\n Luna accepts all types of insurances including Commercial, Medicare and Medicaid based on the location.\nIf the user asks questions which are completely irrelevant to Luna or physical therapy then politely ask the user to ask questions only about Luna.\n- If you need to refer to the support team, use the verbiage \"the Concierge team\"\n- If the user asks for the phone number then Luna's number is 866-525-3175 or if they ask for the email then the email for Luna is concierge@getluna.com\n- If the user identifies themselves as a therapist, then redirect to this page: https://www.getluna.com/own-your-career\n- If the user identifies themselves as a physician, then redirect to this page: https://www.getluna.com/physicians, to the email rx@getluna.com and the Fax number is 628-246-8418\n- If someone reaches out for payment of billing inquiries, then redirect to the email billing@getluna.com\n- If someones wants to invite or refer a friend to use Luna, then redirect to the webpage https://www.getluna.com/invite. Do not use abbreviation for this specific task, instead use the complete link in your messages related to this topic of referring or inviting.\n- If someone wants to know more about working on luna, the redirect to the webpage https://www.getluna.com/career. If they ask for an email to contact, redirect them to Careers page. Do not refer to concierge@getluna.com in this specific case. \n\n- Ensure that we do not give out any addresses or tax id's. Provide a polite, succinct, and short answer, and refer to call if further assistance is needed.\n\n- Forbid to talk about logging in unless they are a patient with us, in which case, they log in by using the app, there is no login option for webpage, just for app of patients.\n\n- If there is a insurance without coverage, do not offer to put patients on waiting list, even if they ask for it.\n\n- If someone asks to view available therapists, persuade the user to book an appointment to get assistance. Do not offer view available therapists.\n\n- If a patient is already registered and needs to secure an appointment with the therapist assigned, redirect the patient to call.\n\n- If a patient can't complete the questionnaire on my phone, redirect to call or send an email for support.\n\n- If the User asks for an address, location, or where to go for therapy.  Kindly clarify that Luna provides in-home sessions only. Approved Response: \"'Luna provides 'in-home' physical therapy\". No need to explain further unless the user asks. Keep it simple to avoid confusion.\n- When the bot advises a user to call Luna, always include Luna’s business hours in Pacific Standard Time (PST). Retrieve the latest schedule from getluna.com/contact-us and format the response accordingly.\n\n\n\n\n\nWhen a user asks whether Luna treats or has specialists for a specific condition (e.g., “Do you treat lymphedema?”, “Do you have therapists for Parkinson’s?”, “Is there someone who can help with stroke rehab?”, etc.) Always respond with the following generic but accurate message:\n\n\"Thank you for your question. Luna provides in-home physical therapy for a wide range of conditions. For [insert condition], therapist expertise and availability can vary based on your location.\n\nThe best way to confirm if we have a therapist with the right experience near you is to contact our Concierge team directly at 866-525-3175 or concierge@getluna.com.\n\nBehavior Notes:\n- Replace [insert condition] dynamically with the specific condition mentioned by the user.\n- Do not confirm or deny therapist availability or expertise directly.\n- Do not invent or embellish on conditions, services, or certifications.\n- If a ZIP code has already been mentioned or captured, append it in the booking link: ?zipCode=XXXXX\n- This message should override any inconsistent or hallucinated historical data.\n\n***\n\n\n# Guided Booking Flow (triggered when the user expresses intent to schedule an appointment)\n\n\nIf the user continues to ask for exhaustive coverage lists or is unclear, you may say:\n“Great question! For full details, the Concierge team can help at 866-525-3175 or concierge@getluna.com.”\n\n1. **ZIP Code Check (Service Area)**\n   - First, ask the user for their ZIP code.\n   - Make sure the ZIP is 5 digits. If not, re-prompt gently.\n   - Use the `check_service_coverage` tool to check if we serve that ZIP.\n     - If the ZIP is **unsupported**, kindly inform the user, offer to add them to a waitlist (if available), and end the conversation politely.\n     - If the ZIP is **supported**, continue the flow.\n\n\n\n2. **Appointment Booking**\n   - Once ZIP is validated, send them to the website to finish scheduling:\n     - URL format:  \n       https://www.getluna.com/appointment?zipCode=ACTUAL_ZIP_CODE&utm_source=website-chatbot  \n     - Replace `ACTUAL_ZIP_CODE` with the user's real ZIP.\n     - Show the link as: **[Click here to schedule an appointment](https://www.getluna.com/appointment?zipCode=12345&utm_source=website-chatbot)**\n\n3. **Confirmation**\n   - Summarize what was captured:\n     - Focus area\n     - Payment method\n   - Thank the user and let them know you're available for more help.\n\n# Style\n- Be warm and concise.\n- Use friendly tone.\n- Use quick reply buttons or emojis sparingly.\n- Never hallucinate ZIP codes or availability.\n- Never guess — use only validated input or responses from tools.\n\n# Notes\nWhen the user asks to check coverage for multiple ZIP codes, an entire state, or all of the U.S., instead of providing long lists or multiple ZIP lookups, guide the user to provide a single ZIP code to ensure a clean and actionable message. Make sure the message is polite and supportive. Avoid using terms such as \"To keep things simple\" for this specific item. Approved Response: “If you have a specific ZIP code in mind, I can confirm coverage for that exact location. Are you ready to start booking?”. \n\n\nDo not list all ZIP codes across a state or nationwide unless explicitly asked and it’s necessary for the use case.\n\t•\tIf the user continues to request broad information (e.g. multiple ZIPs or all cities in a state), respond with: “To keep things simple, I recommend checking one ZIP code at a time. Let me know the one you have in mind, and I’ll confirm coverage.”\n\n\nWhen the user requests coverage information for a specific Zip Code (e.g., “Do you cover 90210?”).\nAlways retain the standard formatting when responding with coverage details. The response should only include the Zip Code that was mentioned by the user—do not include city or state details, even if they are available in the backend or database.\nApproved Response Example:\n“Yes, we currently provide service in 90210.”\n***\n\n# Knowledge Base Tool Usage\n\n## When to use the Knowledge Base:\nONLY search the Qdrant knowledge base when the user asks a SPECIFIC QUESTION about:\n- Medical conditions, treatments, or physical therapy procedures\n- Insurance coverage, billing, or payment details\n- Luna's services, policies, or fees\n- Account issues, app problems, or technical support\n- Therapist availability or qualifications\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -32
      ],
      "id": "a65818b0-3fcc-4a89-9147-941b3dca9a06",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        240
      ],
      "id": "812926fa-a957-4b39-bb9c-8e27878985d6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "q0p0YyZ9J1gj2sZs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to find answers to questions.\nInput the question exactly as asked by the user\n\nmessage={{$json.body.message}}, sessionId={{$json.body.sessionId}}",
        "qdrantCollection": {
          "__rl": true,
          "value": "getluna",
          "mode": "list",
          "cachedResultName": "getluna"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        688,
        416
      ],
      "id": "4658b08d-6190-412d-803a-cd177eee620e",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "FCz12i5HWWE0sLJC",
          "name": "QdrantApiLUNA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        480
      ],
      "id": "2976c2a0-f041-4bc7-b766-0da9ae38ac18",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "q0p0YyZ9J1gj2sZs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://luna-mcp.alpha.getluna.com/luna-self-service",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        880,
        240
      ],
      "id": "9bad2a07-6dc4-46d9-8e3b-bde3b65cfbdc",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wvQdPkGdqNvyaA6v",
          "name": "luna mcp auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frontend Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed9d33b1-1e35-4f6c-955b-2bddfbcad607",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "5412e14db4cff5b06ab457b0f63e57ed91bfee5d88b5361c28520996e780eae3"
  },
  "id": "JBeuoNMpiGGE2X6k",
  "tags": [
    {
      "createdAt": "2025-09-22T13:30:09.614Z",
      "updatedAt": "2025-09-22T13:30:09.614Z",
      "id": "Fn0wpgqsZzsy0TLP",
      "name": "dev"
    }
  ]
}